$primary = var(--q-color-primary)
$secondary = var(--q-color-secondary)
$accent = var(--q-color-accent)
$positive = var(--q-color-positive)
$negative = var(--q-color-negative)
$info = var(--q-color-info)
$warning = var(--q-color-warning)
$dark = var(--q-color-dark)

$breakpoint-xs = 575px
$breakpoint-sm = 767px
$breakpoint-md = 991px
$breakpoint-lg = 1199px

$custom-accent-color = #EBF1FA

$custom-radius = 15px
$custom-radius-items = 10px
$custom-box-shadow = 0 5px 20px rgba(0, 0, 0, 0.05)
$green = $teal-7
$red = $red-7
