$primary: var(--q-color-primary);
$secondary: var(--q-color-secondary);
$accent: var(--q-color-accent);
$positive: var(--q-color-positive);
$negative: var(--q-color-negative);
$info: var(--q-color-info);
$warning: var(--q-color-warning);
$dark: var(--q-color-dark);
$tertiary: #4C5D94;

$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;


$custom-radius: 10px;
$custom-radius-items: 10px;
$custom-box-shadow: 0px 16px 24px rgba(3, 27, 102, 0.06), 0px 2px 6px rgba(3, 27, 102, 0.04), 0px 0px 1px rgba(3, 27, 102, 0.04);
$green: var(--q-color-teal-7);
$red: var(--q-color-read-7);

//Builder
$primaryBuilder: #5333ed;
$secondaryBuilder: #2cd4d9;
$custom-accent-color: #EBF1FA;
$bg-custom-accent-color: #EBF1FA;
